.social__description {
    display: flex;
    flex-direction: column;
    margin: 24.78px 25px 0 26px;
    font-family: 'Neue Machina', Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.01em;
}