.social__description {
    display: flex;
    flex-direction: column;
    margin: 19px 25px 0 26px;
    font-family: 'Neue Machina', Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.01em;
    position: relative;
}
@media (min-width: 768px) {
    .social__description {
        max-width: 666px;
        margin: 0 auto 0 25%;
        padding-top: 57px;
    }
}