.header__menu__social {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,max-content);
    grid-area: social;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    border-right: 1px solid #242424;
    border-left: 1px solid #242424;
}