.brief {
    margin: 0;
    padding: 0;
    background-color: var(--secondary-bg-color);
    grid-area: brief;
}

@media (min-width: 768px) {
    .brief {
        background-color: var(--main-bg-color);
    }
}