.header__menu {
    display: none;
    width: 100%;
}

@media screen and (min-width: 1231px) {
    .header__menu {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 903fr 257fr;
        grid-template-areas:
          "navigation social";
        grid-area: point;
    }
}