.slider__button__arrow {
    background-image: url(../../images/arrow-left.svg);
    width: 21px;
    height: 13px;
    background-size: cover;
    transition: ease-in-out 0.2s;
    transition-delay: 1s;
}