.header {
    width: calc(100% - 24px);
    margin-left: 24px;
    height: 82px;
    display: grid;
    grid-template-columns: 43px 1fr 72px;
    grid-template-areas:
    "heart project burger";
    margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
    .header {
        height: fit-content;
        margin-left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
}