.feedbacks__title {
  height: 64px;
  width: 214px;
  margin: 0 auto 0 0;
  padding: 0 0 10px 0;
  justify-self: flex-start;
  align-self: center;
  font-family: 'NeueMachina', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 2rem;
}
