.lead__short-description {
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
  max-width: 304px;
  align-self: flex-end;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}